/.Editor
/upm-ci~
/com.unity.build-report-inspector/package-lock.json.meta
TestProject/*
!TestProject/Assets/
!TestProject/ProjectSettings/
!TestProject/Packages/
TestProject/ProjectSettings/ProjectVersion.txt
TestProject/Assets/BuildReports*
TestProject/Assets/Plugins*

.vs

# macOS meta folders
*.DS_Store*
